<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
	var js = document.createElement('script');
	js.id = 'funciones_js_script';
	js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
	$("#funciones_js_script").remove();
	document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div style="margin-top: 0pt;">
		<div id="mainLogged" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
				<font id="tituloIngresoSintomas" style="color: black; font-size: 15pt; margin-top: 100pt; text-align: right;">
					<span class="fa fa-thermometer-quarter"></span>&nbsp;&nbsp;Ingreso de síntomas
					<font id="tiempoIngreso" style="font-weight: bold;">
					</font>
				</font>
			</div>
			<div style="margin-top: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form enctype="multipart/form-data" id="formImagen">
					<div class="row" style="text-align: left;">
			          <div style="margin-top: 10px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			            <label>RUT</label>
			            <!-- <select class="form-control" id="sintomasRutAsignar">

			            </select> -->
			            <input disabled id="sintomasRut" type="text" class="form-control" title="Rut" >
			          </div>
			          <div style="margin-top: 10px;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			            <label>Nombre</label>
			            <input disabled id="sintomasNombre" type="text" class="form-control" title="Nombre" >
			          </div>
			          <div style="margin-top: 10px;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			            <label>E-Mail</label>
			            <input id="sintomasMail" type="text" class="form-control" title="E-Mail" >
			          </div>
			          <div style="margin-top: 10px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			            <label>Telefono</label>
			            <input id="sintomasTelefono" type="number" class="form-control" title="Telefono" >
			          </div>
			          <div id="divTemperatura" style="margin-top: 10px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			            <label>Temperatura (°C)</label>
			            <select id="sintomasTemperatura" class="form-control" title="Temperatura">
			            </select>
			          </div>
			          <div style="margin-top: 10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                <label>Fotografia termometro</label>
		                <br>
		                <label style="font-size:7pt;">(* En lo posible ingresar fotografía)</label>
		                <div class="input-group">
		                    <label class="input-group-btn">
		                        <span id="sintomasSpanFoto" class="form-control btn btn-default btn-file" style="text-align: left; color: grey; border: 1px solid #c8c8c8;">
		                            Examinar... <input type="file" id="sintomasFoto" name="sintomasFoto" accept="image/*" style="display: none;">
		                        </span>
		                    </label>
		                    <input disabled id="sintomasFotoId" type="text" class="form-control" readonly>
		                </div>
		              </div>
		              <div id="divImgTermometro" class="d-md-none col-sm-12 col-xs-12" style="text-align: left; margin-top: 20px; display: none;">
								  	<img id="imgTermometro" src="" class="img-fluid">
								  </div>
			          <div id="divEppAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-top: 10px;">
									<label>Síntomas (seleccione más de uno si es necesario)</label>
									<div id="openSintomas" style="display: flex; width: 40px; height: 47px; text-align: center;" class="btn btn-secondary">
										<span id="iconOpenSintomas" class="fas fa-arrow-down" style="padding-top: 10px;">
										</span>
									</div>
									<div style="display: block; margin-left: 50px; margin-top: -47px;">
										<select multiple="multiple" id="sintomasMulti" >

										</select>
									</div>
							  </div>
							  <div id="divImgTermometro2" class="d-none d-md-block col-lg-6 col-md-6" style="text-align: center; margin-top: 30px; display: none;">
							  	<img id="imgTermometro2" src="">
							  </div>
	       	</div>
				</form>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; text-align: left;">
					<button id="buttonEnviar" style="margin-top: 10px; font-size: 10pt;" type="button" class="form-control btn btn-secondary far fa-save col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;&nbsp;Guardar</button>
					<button id="buttonSalir" style="margin-top: 10px; font-size: 10pt;" type="button" class="form-control btn btn-secondary fas fa-sign-out-alt col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;&nbsp;Salir</button>
			</div>
		</div>
</div>
