<script type="text/javascript">
  // $("div.sub-menu li").css("display","block");
  // $(".contenedor-logos").show();
  $("#menu-lateral").unbind('click').hover(function(){

  },
  function(){
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");
  });

  $(".title-menu-sub").unbind('click').hover(function(){
    $(this).css("color", "#ffcd00");
  },
  function(){
    $(this).css("color", "white");
  });

  $(".contenedor-logos").unbind('click').hover(function(){
    $(this).css({'cursor': 'pointer'});
  });

  $(".contenedor-logos").unbind('click').click(function(){
    var a = $(this).find("p").css("color");

    //Cierra todo
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");

    if(a !== "rgb(255, 255, 0)"){
      //Abre el clickado
      $(this).find("p").css("color", "yellow");
      $(this).find("div.sub-menu").fadeIn();
      var a = $(this).find('li[style*="block"]').length;
      if($(this).attr("id") == 'liCuenta'){
        a = (a+1)*30 + 45;
      }
      else{
        a = a*30 + 45;
      }
      $(this).css("height", a + "px");
      $(this).css("background-color","#290000");
    }
  });
  $("#logoMenu").unbind("click").click(function(){
    if($("#menu-lateral").width() > 100){
      $("#lineaMenu").fadeOut();
      $("#menu-lateral").css("width","45px");
      $("#menu-lateral").css("background","rgba(30, 0, 0, 0.0)");
      $("#logoMenu").css("color","black");
      $("#iconoLogoMenu").css("border","1px solid #b5b5b5");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 1.0)");
      $("#logoLinkWeb").hide();
      $("#logoMenu").hide();
      $("#logoMenu").fadeIn();
      $("#iconoLogoMenu").attr("class","imgMenu fas fas fa-bars");
    }
    else{
      $("#menu-lateral").css("width","200px");
      $("#menu-lateral").css("background","rgba(15, 0, 0, 1.0)");
      $("#logoMenu").css("color","white");
      $("#iconoLogoMenu").css("border","0px");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 0.0)");
      $("#lineaMenu").fadeIn();
      $("#logoLinkWeb").hide();
      $("#logoMenu").hide();
      $("#logoLinkWeb").fadeIn();
      $("#logoMenu").fadeIn();
      $("#iconoLogoMenu").attr("class","imgMenu fas fa-times");
    }
  });
</script>
<div id="logo-menu">
  <a id="logoLinkWeb" class="title-menu" href="http://e-gestiontech.cl">
    <img src="view/img/logo-e-w.png" style="width: 130px;">
  </a>
  <span id="logoMenu" class="logo2">
    <span id="iconoLogoMenu" class="imgMenu fas fas fa-bars"></span>
  </span>
</div>
<div id="espacioMenu">
</div>
<div>
  <hr id="lineaMenu" style="display: none; background-color: #575757; width: 95%; height: 1px;">
</div>
